# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output binary (你编译出来的文件名)
app
main

# Test binary, built with `go test -c`
*.test

# Project-local environmental settings
.env

# IDE specific files
.vscode/
.idea/